.entry {
  color: $color-light;
  background-color: #639ddb;
  padding: 283px 0;
  background-image: image-set(
    url("../img/entry/entry-bg.jpg") 1x,
    url("../img/entry/entry-bg.webp") 1x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: image-set(
      url("../img/entry/entry-bg@2x.jpg") 2x,
      url("../img/entry/entry-bg@2x.webp") 2x
    );
  }

  @include vp-1023 {
    padding: 280px 0;
  }

  @include vp-767 {
    padding: 185px 0;
  }
}

.entry__wrapper {
  margin-left: 95px;

  @include vp-1023 {
    margin-left: 0;
  }
}

.entry h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  margin-bottom: 30px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 29px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 25px;
  }
}

.entry p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}
