.social {
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  padding: 7px;

  @include vp-1023 {
    &--ok svg {
      width: 10px;
      height: 16px;
    }

    &--dzen svg {
      width: 16px;
      height: 16px;
    }

    &--reddit svg {
      width: 16px;
      height: 16px;
    }
  }
}
