.tours {
  background-color: $color-light;
  color: $color-dark;
  padding-top: 85px;
  padding-bottom: 115px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include vp-767 {
    padding-top: 55px;
    padding-bottom: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.tours__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tours__wrapper h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 50px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.tours__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @include vp-1023 {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.tours__item {
  position: relative;
  min-height: 386px;
  max-width: 260px;
  cursor: pointer;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(rgba(1, 28, 64, 0) 50%, #011c40 100%);
  }

  &:hover .tours__description,
  &:focus .tours__description {
    display: flex;
  }

  @include vp-1023 {
    max-width: 100%;
  }
}

.tours__item img {
  width: 100%;
  object-fit: cover;
}

.tours__item figcaption {
  position: absolute;
  left: 30px;
  bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-light;
  z-index: 2;

  @include vp-1023 {
    left: 35px;
    bottom: 27px;
  }

  @include vp-767 {
    left: 25px;
    bottom: 15px;
  }
}

.tours__description {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: $color-dark;
  color: $color-light;
  width: 100%;
  height: 386px;
  top: 0;
  padding: 25px;
  padding-bottom: 35px;
  z-index: 3;
  overflow-y: overlay;

  @include vp-1023 {
    padding: 35px;
    padding-top: 30px;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.tours__description h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
}

.tours__description ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.tours__description li {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.tours__description b {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.tours__description span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.tours__description a {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 11px;
  margin-top: auto;
  color: $color-dark;
  background-color: $color-light;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}
